<!-- Example single danger button 
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" id="iid" data-bs-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <ul class="dropdown-menu" ngbDropdown="iid">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>-->
  <div class="row">
    <div class="col-md-6">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>

